<h1>Hello world!!</h1>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
<form action="">
  <input type="text" name="pasteURLhere" id="pasteURLhere" value="https://">
</form>