{{#if}}
    <h3 class="m-5 align-item-right invisible" >轉換完畢</h6>
  <div class="d-flex m-3 flex-row">
    <form class="m-3" action="">
      <input type="text" name="pasteURLhere" id="pasteURLhere" value="">
    </form>
    <div class="m-3">
      <a class="btn btn-primary" href="./urlShortener/{{ this.name }}">前往</a>
{{else}}
  <div>
    <h5>歡迎來到短網址生產器，將您要轉換的網址放入，按下轉換及可取得短網址!</h5>
  </div>
  <div>
    <img style="length:10em ; width:10em"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </div>
  <div class="d-flex m-3">
    <form class="m-3" action="/" method="POST">
      <input type="text" name="pasteURLhere" placeholder="pasteURLhere" value="">
    </form>
    <div class="m-3">
      <a class="btn btn-secondary" href="./urlShortener">轉換</a>
      <a class="btn btn-info" href="/">重新轉換</a>
    </div>
  </div>
{{/if}}